<div class="flex justify-between padding-x-md margin-y-sm items-center">
    <h1 class="hbs-ui__text text-lg">Administration</h1>

    <div class="language-picker margin-left-auto language-picker--flags js-language-picker"
        data-trigger-class="btn bg js-tab-focus">
        <form id="LANG" action="" class="language-picker__form">
            <label class="hbs-ui__text" for="hbs-ui__languages-input">Select your language</label>

            <select name="language-picker-select" id="hbs-ui__languages-input">
                <option lang="en" class="hbs-ui__text" value="english" {{#if cly.english.isSelected}} selected{{/if}}>
                    English</option>
                <option lang="de" class="hbs-ui__text" value="deutsch" {{#if cly.deutsch.isSelected}} selected{{/if}}>
                    Deutsch</option>
                <option lang="fr" class="hbs-ui__text" value="francais" {{#if cly.francais.isSelected}} selected{{/if}}>
                    Français</option>
                <option lang="it" class="hbs-ui__text" value="italiano" {{#if cly.italiano.isSelected}} selected{{/if}}>
                    Italiano</option>
            </select>
        </form>
    </div>
</div>

<section class="radius-md padding-md">
    <p class="hbs-ui__text bg padding-md shadow-xs radius-md margin-bottom-sm">
        Mooonys is currently working on making the Administration section fully functional, please be patient.
    </p>

    <div class="bg padding-md shadow-xs radius-md margin-bottom-sm">
        <p class="int-table__row-empty sr-only">
            There are no more users to track?
        </p>

        <div class="int-table int-table--sticky-header text-sm js-int-table">
            <div class="int-table__inner">
                <table class="int-table__table" aria-label="Interactive table example">
                    <thead class="int-table__header js-int-table__header">
                        <tr class="int-table__row">
                            <td class="int-table__cell">
                                <div class="custom-checkbox int-table__checkbox">
                                    <input class="custom-checkbox__input js-int-table__select-all" type="checkbox"
                                        aria-label="Select all rows" />
                                    <div class="custom-checkbox__control" aria-hidden="true"></div>
                                </div>
                            </td>

                            <th
                                class="int-table__cell int-table__cell--th int-table__cell--sort js-int-table__cell--sort">
                                <div class="flex items-center">
                                    <span>_id</span>

                                    <svg class="icon icon--xxs margin-left-xxxs int-table__sort-icon" aria-hidden="true"
                                        viewBox="0 0 12 12">
                                        <polygon class="arrow-up" points="6 0 10 5 2 5 6 0" />
                                        <polygon class="arrow-down" points="6 12 2 7 10 7 6 12" /></svg>
                                </div>

                                <ul class="sr-only js-int-table__sort-list">
                                    <li>
                                        <input type="radio" name="sortingName" id="sortingNameNone" value="none"
                                            checked>
                                        <label for="sortingNameNone">No sorting</label>
                                    </li>

                                    <li>
                                        <input type="radio" name="sortingName" id="sortingNameAsc" value="asc">
                                        <label for="sortingNameAsc">Sort in ascending order</label>
                                    </li>

                                    <li>
                                        <input type="radio" name="sortingName" id="sortingNameDes" value="desc">
                                        <label for="sortingNameDes">Sort in descending order</label>
                                    </li>
                                </ul>
                            </th>
                            
                            <th class="int-table__cell int-table__cell--th int-table__cell--sort js-int-table__cell--sort"
                                data-date-format="dd-mm-yyyy">
                                <div class="flex items-center">
                                    <span>Username</span>

                                    <svg class="icon icon--xxs margin-left-xxxs int-table__sort-icon" aria-hidden="true"
                                        viewBox="0 0 12 12">
                                        <polygon class="arrow-up" points="6 0 10 5 2 5 6 0" />
                                        <polygon class="arrow-down" points="6 12 2 7 10 7 6 12" /></svg>
                                </div>

                                <ul class="sr-only js-int-table__sort-list">
                                    <li>
                                        <input type="radio" name="sortingDate" id="sortingDateNone" value="none"
                                            checked>
                                        <label for="sortingDateNone">No sorting</label>
                                    </li>

                                    <li>
                                        <input type="radio" name="sortingDate" id="sortingDateAsc" value="asc">
                                        <label for="sortingDateAsc">Sort in ascending order</label>
                                    </li>

                                    <li>
                                        <input type="radio" name="sortingDate" id="sortingDateDes" value="desc">
                                        <label for="sortingDateDes">Sort in descending order</label>
                                    </li>
                                </ul>
                            </th>

                            <th
                                class="int-table__cell int-table__cell--th int-table__cell--sort js-int-table__cell--sort">
                                <div class="flex items-center">
                                    <span>Address</span>

                                    <svg class="icon icon--xxs margin-left-xxxs int-table__sort-icon" aria-hidden="true"
                                        viewBox="0 0 12 12">
                                        <polygon class="arrow-up" points="6 0 10 5 2 5 6 0" />
                                        <polygon class="arrow-down" points="6 12 2 7 10 7 6 12" /></svg>
                                </div>

                                <ul class="sr-only js-int-table__sort-list">
                                    <li>
                                        <input type="radio" name="sortingEmail" id="sortingEmailNone" value="none"
                                            checked>
                                        <label for="sortingEmailNone">No sorting</label>
                                    </li>

                                    <li>
                                        <input type="radio" name="sortingEmail" id="sortingEmailAsc" value="asc">
                                        <label for="sortingEmailAsc">Sort in ascending order</label>
                                    </li>

                                    <li>
                                        <input type="radio" name="sortingEmail" id="sortingEmailDes" value="desc">
                                        <label for="sortingEmailDes">Sort in descending order</label>
                                    </li>
                                </ul>
                            </th>

                            <th class="int-table__cell int-table__cell--th text-left">
                                Bio
                            </th>

                            <th class="int-table__cell int-table__cell--th text-left">Birthday</th>
                            <th class="int-table__cell int-table__cell--th text-right"></th>
                        </tr>
                    </thead>

                    <tbody class="int-table__body js-int-table__body">
                        {{#each _users}}
                        <tr class="int-table__row">
                            <th class="int-table__cell" scope="row">
                                <div class="custom-checkbox int-table__checkbox">
                                    <input class="custom-checkbox__input js-int-table__select-row" type="checkbox"
                                        aria-label="Select this row" />
                                    <div class="custom-checkbox__control" aria-hidden="true"></div>
                                </div>
                            </th>
                            <td class="int-table__cell"><a href="#0">{{this._information.fn}} {{this._information.ln}}</a></td>
                            <td class="int-table__cell">{{this.username}}</td>
                            <td class="int-table__cell">{{this._information.address}}</td>
                            <td class="int-table__cell max-width-xxxxs">{{this._information.bio}}</td>
                            <td class="int-table__cell">{{this._information.birthday}}</td>
                            <td class="int-table__cell">
                                <button class="reset int-table__menu-btn margin-left-auto js-tab-focus"
                                    data-label="Edit row" aria-controls="dropdown">
                                    <svg class="icon" viewBox="0 0 16 16">
                                        <circle cx="8" cy="7.5" r="1.5" />
                                        <circle cx="1.5" cy="7.5" r="1.5" />
                                        <circle cx="14.5" cy="7.5" r="1.5" /></svg>
                                </button>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>

        <menu id="dropdown" class="menu menu--table js-menu">
            <li role="menuitem">
                <span class="menu__content js-menu__content">
                    <i class="fas padding-left-xxs fa-info menu__icon icon"></i>
                    <span class="sr-only">Information</span>
                </span>
            </li>

            <li role="menuitem">
                <span class="menu__content js-menu__content">
                    <i class="fas fa-key menu__icon icon"></i>
                    <span class="sr-only">Permissions</span>
                </span>
            </li>

            <li role="menuitem">
                <span class="menu__content js-menu__content">
                    <i class="fas fa-link menu__icon icon"></i>
                    <span class="sr-only">Attachments</span>
                </span>
            </li>

            <li role="menuitem">
                <span class="menu__content menu-archives js-menu__content">
                    <i class="fas fa-archive menu__icon icon"></i>
                    <span class="sr-only">Archives</span>
                </span>
            </li>
        </menu>
    </div>
</section>

<script class="hbs-ui__scripts">
    $(async () => {
        const elements = [];

        document.querySelector('.menu-archives').addEventListener('click', async (e) => {
            document.querySelectorAll('.int-table__row--checked').forEach(async (element) => {
                element.remove();
            });
            
            document.querySelector('.js-int-table__select-all').click();

            if ((document.querySelectorAll('.int-table__row').length - 1) <= 0) {
                document.querySelector('.int-table').classList.add('sr-only');
                document.querySelector('.int-table__row-empty').classList.remove('sr-only');
            }
        });

        document.querySelectorAll('.int-table__menu-btn').forEach(async (element) => {
            element.addEventListener('click', async (e) => {
                e.preventDefault();

                document.querySelectorAll('.int-table__selected').forEach(async (element) => {
                    element.classList.remove('int-table__selected');
                });

                if (!element.parentElement.parentElement.classList.contains('int-table__row--checked')) {
                    element.parentElement.parentElement.children[0].children[0].children[0].click();
                    element.click();
                }

                element.parentElement.parentElement.classList.add('int-table__selected');
                element.parentElement.parentElement.classList.add('int-table__row--checked');
            });
        });

        document.querySelectorAll('.int-table__row').forEach(async (element) => {
            if (element.classList.contains('int-table__row-empty')) {
                return;
            }

            elements.push({
                element: element,
                _id: element.children[1].children[0].innerHTML,
                username: element.children[2].innerHTML,
                address: element.children[3].innerHTML,
                bio: element.children[4].innerHTML,
                birthday: element.children[5].innerHTML
            });
        });

    });
</script>