<!doctype html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:email" content="contact-us@mooonys.co"/>
        <meta name="description" content="Dynamics are important when designing for the web.">
        <meta property="og:url" content="https://www.mooonys.co/">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Mooonys">
        <meta property="og:description" content="Dynamics are important when designing for the web.">
        <meta property="og:image" content="https://www.mooonys.co/utils/img/jpg/favicon.jpg">
        <meta name="twitter:card" content="summary_large_image">
        <meta property="twitter:domain" content="mooonys.co">
        <meta property="twitter:url" content="https://www.mooonys.co/">
        <meta name="twitter:title" content="Mooonys">
        <meta name="twitter:description" content="Dynamics are important when designing for the web.">
        <meta name="twitter:image" content="https://www.mooonys.co/utils/img/jpg/favicon.jpg">
        <script>document.getElementsByTagName("html")[0].className += " js";</script>
        <link rel="icon" type="image/svg+xml" href="{{URL 'utils/img/svg/favicon.svg'}}">
        <link rel="alternate icon" href="{{URL 'utils/img/ico/favicon.ico'}}" type="image/ico">
        <link id="css" rel="stylesheet" href="{{URL 'utils/scss/.dir/~css.css'}}">
        <script src="https://kit.fontawesome.com/21df1375d2.js" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="//cdn.jsdelivr.net/jquery.scrollto/2.1.2/jquery.scrollTo.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
        <script defer>
            const socket = io({
                transports: ['websocket'],
                upgrade: false,
                reconnection: false
            });
        </script>
        <script type="text/javascript">
            //<![CDATA[
            var tlJsHost = ((window.location.protocol == "https:") ? "https://secure.trust-provider.com/" :
                "http://www.trustlogo.com/");
            document.getElementById('ssh').innerHTML = unescape("%3Cscript src='" + tlJsHost +
                "trustlogo/javascript/trustlogo.js' type='text/javascript'%3E%3C/script%3E");
            //]]>
        </script>
        <script language="JavaScript" type="text/javascript">
            TrustLogo("https://www.positivessl.com/images/seals/positivessl_trust_seal_md_167x42.png", "POSDV", "none");
        </script>
        <script>
            if (!('CSS' in window) || !CSS.supports('color', 'var(--color-var)')) {
                var cfStyle = document.getElementById('css');
                if (cfStyle) {
                    var href = cfStyle.getAttribute('href');
                    href = href.replace('~css.css', '~css.min.css');
                    cfStyle.setAttribute('href', href);
                }
            }
        </script>
        <title>Mooonys</title>
    </head>

    <body>
        <noscript>
            {{> '1' h1='Bad Request' p='You must have javascript enabled to view this page.'}}
        </noscript>

        <div class="hbs-ui js-hbs-ui">
            <main class="hbs-ui__body position-relative overflow-auto">

                {{{body}}}

                <a href="javascript:if(window.open('https://secure.trust-provider.com/ttb_searcher/trustlogo?v_querytype=W&amp;v_shortname=POSDV&amp;v_search=https://www.mooonys.co/options/styles&amp;x=6&amp;y=5','tl_wnd_credentials'+(new Date()).getTime(),'toolbar=0,scrollbars=1,location=1,status=1,menubar=1,resizable=1,width=374,height=660,left=60,top=120')){};tLlB(tLTB);" class="position-absolute bottom-0 padding-md"><img src="https://www.positivessl.com/images/seals/positivessl_trust_seal_md_167x42.png" border="0"></a>
            </main>

            <div class="circle-loader hbs-ui__body--is-hidden hbs-ui__body--v2 circle-loader--v3" role="alert">
                <p class="circle-loader__label">Content is loading...</p>
                <div aria-hidden="true">
                    <div class="circle-loader__circle circle-loader__circle--1st"></div>
                    <div class="circle-loader__circle circle-loader__circle--2nd"></div>
                </div>
            </div>
        </div>

        <script id="js" src="{{URL 'utils/js/.dir/~js.js'}}"></script>
        <!--<script id="utility" src="{{URL 'utils/js/libraries/utility.js'}}"></script>-->
        <script id="Utils" src="{{URL 'utils/js/libraries/Utils.js'}}"></script>
    </body>

</html>